# Node modules
node_modules
npm-debug.log*

# Frontend files
frontend/
public/

# Git files
.git
.gitignore

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation
README.md
*.md

# Build files
dist/
build/